body {
	margin: 0px;
}

.error {
	color: red;
	background-color: bisque;
	padding: 4px*0.75 4px 4px*0.75 4px;
	border: 1px;
	border-radius: 4px;
	border-color: red;
	border-style: solid;
	margin: 5px;
	display: none;
}

div.card.selected {
	img {
		filter: invert(100%);
	}
	z-index: 100 !important;
}

.highlighted {
	border: 2px #88ff88;
}

#playfield {
	background: #22cc33;
}

.slot {
	display: inline-block;
	background: #22aa33;
	border: solid 1px #228833;
	box-shadow: inset 1px 1px 3px #228833;
	margin-top: 5px;
	// Pad bottom so cards can always be dropped there if the slot starts to get full.
	padding: 5px 7px 17px 7px;
	box-sizing: border-box;
}

.slot-overlap {
	// Increase right padding by reverse of largest-size card width - overlap width, so cards wrap appropriately.
	padding-right: 60px;
}

.slot-overlap .card {
	width: 25px;
	img {
		filter: drop-shadow(-2px 0px 1px rgba(0,0,0,0.1));
	}
}

.slot-overlap-vert  {
	box-sizing: content-box;
	vertical-align: top;
	padding-bottom: 125px;
}

.slot-overlap-vert .card {
	height: 25px;
	display: block;
	position: relative; // enable z-ordering
	img {
		filter: drop-shadow(0px -2px 1px rgba(0,0,0,0.1));
	}
}

.slot-single {
	padding-bottom: 0;
						
	label {
		display: block;
		font-family: "sans";
		background: #dddddd;
		width: 100%;
	}
}

.card {
	display: inline-block;
	
	-webkit-user-select: none;
	user-select: none;
	
	img {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		user-select: none;
	}
}


.card.turned img {
	-webkit-transform: rotate(-90deg) translate(20px);
	transform: rotate(-90deg) translate(20px);
}

#ui {
	padding: 5px;
	font-size: large;
	box-shadow: inset 1px 1px 3px #777;
	background: #bbb
}

#ui div {
	padding-bottom: 10px;
}

#ui input {
	font-size: large;
}

#ui button {
	font-size: large;
}
