$on-palm:          600px !default;
$on-laptop:        800px !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

.flex {
	display: flex;
}

@include media-query($on-palm) {
	.flex {
		flex-direction: column;
	}
}

.error {
	color: red;
	background-color: bisque;
	padding: 4px*0.75 4px 4px*0.75 4px;
	border: 1px;
	border-radius: 4px;
	border-color: red;
	border-style: solid;
	margin: 5px;
	display: none;
}

body {
	margin: 0px;
}

#ui {
	input {
		width: 5em;
	}
}

#ui > div {
	margin: 7px 5px 7px 5px;
}

#ui input {
	font-size: large;
}

#ui button {
	font-size: large;
}

#buttons > div {
	display: inline-block;
	margin-bottom: 10px;
}

#players {
	min-width: 5em;
	min-height: 3em;
	background: white;
}

.highlighted {
	border: 2px #88ff88;
}

#playfield {
	background: #22cc33;
	width: 100%;
	height: 100%;
}

.slot {
	display: inline-block;
	background: #22aa33;
	border: solid 1px #228833;
	box-shadow: inset 1px 1px 3px #228833;
	margin-top: 5px;
	// Pad bottom so cards can always be dropped there if the slot starts to get full.
	padding: 5px 7px 17px 7px;
	box-sizing: border-box;
	min-height: 125px;
}

.slot-overlap {
	// Increase right padding by reverse of largest-size card width - overlap width, so cards wrap appropriately.
	padding-right: 50px;
}

.slot-overlap .card {
	width: 25px;
	img {
		box-shadow: -2px 0px 1px 0px rgba(0,0,0,0.1);
	}
}

.slot-overlap-chip {
	width: 80px;
}

.slot-overlap .chip {
	width: 2px;
}

.slot-overlap-vert  {
	box-sizing: content-box;
	vertical-align: top;
	padding-bottom: 125px;
}

.slot-overlap-vert .card {
	height: 25px;
	display: block;
	position: relative; // enable z-ordering
	img {
		box-shadow: -0px -2px 1px 0px rgba(0,0,0,0.1);
	}
}

.slot-single {
	padding-bottom: 0;
	align-self: flex-end;
						
	label {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		user-select: none;

		display: block;
		font-family: "sans-serif";
		background: #dddddd;
		width: 100%;
	}
}

.card {
	display: inline-block;
	
	-webkit-user-select: none;
	user-select: none;
	
	img {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		user-select: none;
		filter: invert(0%);
		transition: filter 0.1s;
	}
}

.chip {
	display: inline-block;
	
	-webkit-user-select: none;
	user-select: none;
	
	img {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		user-select: none;
		filter: invert(0%);
		transition: filter 0.1s;
	}
}

.selected img {
	filter: invert(100%);
	transition: filter 0.1s;
}

.card.turned img {
	-webkit-transform: rotate(-90deg) translate(20px);
	transform: rotate(-90deg) translate(20px);
}

#ui {
	padding: 5px;
	font-size: large;
	box-shadow: inset 1px 1px 3px #777;
	background: #bbb
}
