body {
	margin: 0px;
}

div {
}

.error {
	color: red;
	background-color: bisque;
	padding: 4px*0.75 4px 4px*0.75 4px;
	border: 1px;
	border-radius: 4px;
	border-color: red;
	border-style: solid;
	margin: 5px;
	display: none;
}

.card.selected img {
//  animation: glow 2.0s;
  filter: invert(100%);
}

@keyframes glow {
  from {
	  filter: drop-shadow(0px 0px 10px red);
  }

  to {
	  filter: drop-shadow(0px 0px 20px red);
  }
}

.highlighted {
	border: 2px #88ff88;
}

#playfield {
	background: #22cc33;
}

.slot {
	display: inline-block;
	background: #22aa33;
	box-shadow: inset 1px 1px 3px #228833;
	margin-top: 5px;
	// Pad bottom so cards can always be dropped there if the slot starts to get full.
	padding: 5px 7px 50px 7px;
	box-sizing: border-box;
}

.slot-overlap {
	// Increase padding by reverse of card overlap margin, so cards wrap appropriately.
	padding-right: 50px;
}

.slot-overlap-vert > div {
	// Increase padding by reverse of card overlap margin, so cards wrap appropriately.
	// Plus a little extra for placing new cards.
	padding-bottom: 120px;
	width: 74px;
	display: flex;
	flex-direction: column;
}

.slot-single label {
	display: block;
	font-family: "sans";
	background: #dddddd;
}

.card {
	display: inline-block;
}

.card-overlap {
	margin-right: -50px;
}

.card-overlap-vert {
	margin-bottom: -90px;
}

#ui {
	padding: 5px;
	font-size: large;
	box-shadow: inset 1px 1px 3px #777;
	background: #bbb
}

#ui div {
	padding-bottom: 10px;
}

#ui input {
	font-size: large;
}

#ui button {
	font-size: large;
}
